# **Data Source**
- Influenza vaccine coverage [CDC](https://app.powerbigov.us/view?r=eyJrIjoiNGQxYTM4MjgtZjUxZC00MWFhLWI2MmMtNTkxOGJkMWM2MWJjIiwidCI6IjljZTcwODY5LTYwZGItNDRmZC1hYmU4LWQyNzY3MDc3ZmM4ZiJ9&pageName=ReportSectionf6074994465a5de247b7)
- Population by state [StatsAmerica](https://www.statsamerica.org/downloads/default.aspx)
- Number of newborns [CDC](https://www.cdc.gov/nchs/nvss/vsrr/provisional-tables.htm), [CDC](https://www.cdc.gov/nchs/data/vsrr/vsrr028.pdf)
- Mean income by State [US Census Bureau](https://data.census.gov/table/ACSST5Y2022.S1902?q=median%20household%20income%20by%20state&tid=ACSST5Y2021.S1902)
- Inlfuenza burden by year [CDC](https://www.cdc.gov/flu/about/burden/past-seasons.html): to be reconsidered
- Influenza vaccine effectiveness [CDC](https://www.cdc.gov/flu/vaccines-work/past-seasons-estimates.html)
- Number of COVID cases [CDC](https://data.cdc.gov/Case-Surveillance/Weekly-United-States-COVID-19-Cases-and-Deaths-by-/pwn4-m3yp/about_data)

# **I. Data Import**

In [ ]:
# Import library/package
import pandas as pd

### **1) Flu vaccination coverage by state**

- Data source: [CDC](https://data.cdc.gov/Flu-Vaccinations/Influenza-Vaccination-Coverage-for-All-Ages-6-Mont/vh55-3he6/about_data)

In [ ]:
# Import raw data file.
flu_coverage=pd.read_excel("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/Influenza_coverage.xlsx")

flu_coverage['season'] = flu_coverage['season'].astype(int)
flu_coverage

       state  season  coverage_estimate
0    Alabama    2010               42.4
1    Alabama    2011               41.6
2    Alabama    2012               45.7
3    Alabama    2013               48.3
4    Alabama    2014               45.8
..       ...     ...                ...
658  Wyoming    2018               40.6
659  Wyoming    2019               47.3
660  Wyoming    2020               42.6
661  Wyoming    2021               41.2
662  Wyoming    2022               40.3

[663 rows x 3 columns]

### **2) Population by State**
- Data source: [Stats America](https://www.statsamerica.org/downloads/default.aspx)
- Target data: population information from year 2000-2022
- Age group: 0-4, 5-17, 18-24, 25-44, 45-64, 65+
- From 2 files (2000-2019, 2020-2022)
- Since influenza vaccination involves population 6 months and older, number of newborns are subtracted from 0-4 population group.

#### Age

In [ ]:
# Import population data (from Y2000~2019)
population_raw=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/population/Population by Age and Sex - US, States, Counties.csv')

population_raw

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Total Population,Population 0-4,Population 5-17,Population 18-24,Population 25-44,Population 45-64,Population 65+,Population Under 18,Population 18-54,Population 55+,Male Population,Female Population
0,0,0,0,U.S.,2000,282162411.0,19178293.0,53197896.0,27315274.0,84973340.0,62428040.0,35069568.0,72376189.0,150287588.0,59498634.0,138443407.0,143719004.0
1,0,0,0,U.S.,2001,284968955.0,19298217.0,53372958.0,27992652.0,84523274.0,64491563.0,35290291.0,72671175.0,151902194.0,60395586.0,139891492.0,145077463.0
2,0,0,0,U.S.,2002,287625193.0,19429192.0,53507265.0,28480708.0,83990295.0,66695526.0,35522207.0,72936457.0,152463197.0,62225539.0,141230559.0,146394634.0
3,0,0,0,U.S.,2003,290107933.0,19592446.0,53508312.0,28916746.0,83398001.0,68828899.0,35863529.0,73100758.0,153134701.0,63872474.0,142428897.0,147679036.0
4,0,0,0,U.S.,2004,292805298.0,19785885.0,53511850.0,29302179.0,83066831.0,70935234.0,36203319.0,73297735.0,153998940.0,65508623.0,143828012.0,148977286.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63877,72000,72,0,Puerto Rico,2015,3473232.0,172208.0,559788.0,348790.0,873430.0,889620.0,629396.0,731996.0,1678391.0,1062845.0,1656361.0,1816871.0
63878,72000,72,0,Puerto Rico,2016,3406672.0,160089.0,533468.0,336650.0,851966.0,881072.0,643427.0,693557.0,1637171.0,1075944.0,1620266.0,1786406.0
63879,72000,72,0,Puerto Rico,2017,3325286.0,144751.0,506785.0,322684.0,827176.0,869105.0,654785.0,651536.0,1588502.0,1085248.0,1580779.0,1744505.0
63880,72000,72,0,Puerto Rico,2018,3193354.0,124487.0,467385.0,304190.0,787277.0,848607.0,661408.0,591872.0,1513781.0,1087701.0,1517003.0,1676341.0
63881,72000,72,0,Puerto Rico,2019,3193694.0,117482.0,455249.0,303277.0,793549.0,844481.0,679656.0,572731.0,1512881.0,1108082.0,1515598.0,1677955.0

In [ ]:
# Filter to include only data after 2010.
population_filtered= population_raw[population_raw['Year']>=2010]
population_filtered

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Total Population,Population 0-4,Population 5-17,Population 18-24,Population 25-44,Population 45-64,Population 65+,Population Under 18,Population 18-54,Population 55+,Male Population,Female Population
10,0,0,0,U.S.,2010,309321666.0,20188815.0,53931851.0,30762380.0,82191286.0,81769110.0,40478224.0,74120666.0,157940058.0,77260942.0,152077478.0,157249665.0
11,0,0,0,U.S.,2011,311556874.0,20123103.0,53784421.0,31078554.0,82427353.0,82793428.0,41350015.0,73907524.0,158231623.0,79417727.0,153212980.0,158370501.0
12,0,0,0,U.S.,2012,313830990.0,19976065.0,53720599.0,31371460.0,82801927.0,82830576.0,43130363.0,73696664.0,158429539.0,81704787.0,154397027.0,159480635.0
13,0,0,0,U.S.,2013,315993715.0,19849215.0,53719487.0,31488416.0,83279411.0,83027731.0,44629455.0,73568702.0,158517755.0,83907258.0,155514054.0,160545893.0
14,0,0,0,U.S.,2014,318301008.0,19872349.0,53691374.0,31416072.0,83849830.0,83314367.0,46157016.0,73563723.0,158596834.0,86140451.0,156695810.0,161690519.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63877,72000,72,0,Puerto Rico,2015,3473232.0,172208.0,559788.0,348790.0,873430.0,889620.0,629396.0,731996.0,1678391.0,1062845.0,1656361.0,1816871.0
63878,72000,72,0,Puerto Rico,2016,3406672.0,160089.0,533468.0,336650.0,851966.0,881072.0,643427.0,693557.0,1637171.0,1075944.0,1620266.0,1786406.0
63879,72000,72,0,Puerto Rico,2017,3325286.0,144751.0,506785.0,322684.0,827176.0,869105.0,654785.0,651536.0,1588502.0,1085248.0,1580779.0,1744505.0
63880,72000,72,0,Puerto Rico,2018,3193354.0,124487.0,467385.0,304190.0,787277.0,848607.0,661408.0,591872.0,1513781.0,1087701.0,1517003.0,1676341.0
63881,72000,72,0,Puerto Rico,2019,3193694.0,117482.0,455249.0,303277.0,793549.0,844481.0,679656.0,572731.0,1512881.0,1108082.0,1515598.0,1677955.0

In [ ]:
# Extract only State-level information
!pip install us

Requirement already satisfied: us in /usr/local/lib/python3.10/dist-packages (3.1.1)
Requirement already satisfied: jellyfish==0.11.2 in /usr/local/lib/python3.10/dist-packages (from us) (0.11.2)

In [ ]:
import us
us_states=[state.name for state in us.states.STATES]
us_states.append("District of Columbia")
us_states=sorted(us_states)
us_states

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming']

In [ ]:
population_states=population_filtered[population_filtered['Description'].isin(us_states)]
population_states

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Total Population,Population 0-4,Population 5-17,Population 18-24,Population 25-44,Population 45-64,Population 65+,Population Under 18,Population 18-54,Population 55+,Male Population,Female Population
30,1000,1,0,Alabama,2010,4785437.0,304257.0,826176.0,479755.0,1228719.0,1285686.0,660844.0,1130433.0,2401820.0,1253184.0,2323013.0,2462501.0
31,1000,1,0,Alabama,2011,4799069.0,302829.0,820998.0,481645.0,1225177.0,1296403.0,672017.0,1123827.0,2393001.0,1282241.0,2328518.0,2471124.0
32,1000,1,0,Alabama,2012,4815588.0,299235.0,817467.0,485324.0,1225301.0,1290257.0,698004.0,1116702.0,2385609.0,1313277.0,2336196.0,2480436.0
33,1000,1,0,Alabama,2013,4830081.0,294695.0,815213.0,486637.0,1226950.0,1286997.0,719589.0,1109908.0,2378498.0,1341675.0,2343135.0,2488451.0
34,1000,1,0,Alabama,2014,4841799.0,293559.0,812185.0,480552.0,1228634.0,1285053.0,741816.0,1105744.0,2365535.0,1370520.0,2348012.0,2495725.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63405,56000,56,0,Wyoming,2015,585613.0,38469.0,101080.0,56209.0,152933.0,151712.0,85210.0,139549.0,279851.0,166213.0,299683.0,286706.0
63406,56000,56,0,Wyoming,2016,584215.0,37889.0,100851.0,54752.0,152602.0,149767.0,88354.0,138740.0,275880.0,169595.0,298952.0,286291.0
63407,56000,56,0,Wyoming,2017,578931.0,36698.0,99508.0,53069.0,150863.0,146924.0,91869.0,136206.0,270368.0,172357.0,295879.0,284115.0
63408,56000,56,0,Wyoming,2018,577601.0,35787.0,98752.0,52614.0,150456.0,144467.0,95525.0,134539.0,267866.0,175196.0,295124.0,283930.0
63409,56000,56,0,Wyoming,2019,578759.0,34931.0,98803.0,52521.0,150718.0,142607.0,99179.0,133734.0,267092.0,177933.0,295710.0,284406.0

In [ ]:
# Drop unnecessary columns
remove_population=['IBRC_Geo_ID','Statefips','Countyfips','Total Population','Population Under 18','Population 18-54','Population 55+','Male Population','Female Population']
population_states=population_states.drop(columns=remove_population)
population_states.head()

,Description,Year,Population 0-4,Population 5-17,Population 18-24,Population 25-44,Population 45-64,Population 65+
30,Alabama,2010,304257.0,826176.0,479755.0,1228719.0,1285686.0,660844.0
31,Alabama,2011,302829.0,820998.0,481645.0,1225177.0,1296403.0,672017.0
32,Alabama,2012,299235.0,817467.0,485324.0,1225301.0,1290257.0,698004.0
33,Alabama,2013,294695.0,815213.0,486637.0,1226950.0,1286997.0,719589.0
34,Alabama,2014,293559.0,812185.0,480552.0,1228634.0,1285053.0,741816.0

In [ ]:

population_second=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/population/sc-est2022-agesex-civ.csv")
population_second

,SUMLEV,REGION,DIVISION,STATE,NAME,SEX,AGE,ESTBASE2020_CIV,POPEST2020_CIV,POPEST2021_CIV,POPEST2022_CIV
0,10,0,0,0,United States,0,0,3690644,3669863,3570131,3683113
1,10,0,0,0,United States,0,1,3731823,3719267,3675382,3588817
2,10,0,0,0,United States,0,2,3826588,3807454,3725597,3693362
3,10,0,0,0,United States,0,3,3918009,3885476,3813656,3742836
4,10,0,0,0,United States,0,4,3999001,3987970,3891463,3830225
...,...,...,...,...,...,...,...,...,...,...,...
13567,40,4,8,56,Wyoming,2,82,1152,1169,1190,1231
13568,40,4,8,56,Wyoming,2,83,1052,1050,1075,1092
13569,40,4,8,56,Wyoming,2,84,972,980,1010,1018
13570,40,4,8,56,Wyoming,2,85,6641,6656,6620,6544
13571,40,4,8,56,Wyoming,2,999,280239,280585,281980,282848

In [ ]:
population_states_second=population_second[population_second['NAME'].isin(us_states)]
population_states_second=population_states_second[population_states_second["SEX"]==0]
population_states_second

,SUMLEV,REGION,DIVISION,STATE,NAME,SEX,AGE,ESTBASE2020_CIV,POPEST2020_CIV,POPEST2021_CIV,POPEST2022_CIV
261,40,3,6,1,Alabama,0,0,56355,56285,56687,57882
262,40,3,6,1,Alabama,0,1,57448,57207,56760,57185
263,40,3,6,1,Alabama,0,2,59051,58871,57612,57342
264,40,3,6,1,Alabama,0,3,59655,59394,59310,58047
265,40,3,6,1,Alabama,0,4,60643,60567,59870,59843
...,...,...,...,...,...,...,...,...,...,...,...
13393,40,4,8,56,Wyoming,0,82,2101,2152,2194,2232
13394,40,4,8,56,Wyoming,0,83,1917,1909,1965,1997
13395,40,4,8,56,Wyoming,0,84,1744,1768,1817,1843
13396,40,4,8,56,Wyoming,0,85,10502,10530,10500,10405
13397,40,4,8,56,Wyoming,0,999,574022,574713,576607,578583

In [ ]:
# Remove unnecessary columns
remove_population2=['SUMLEV','REGION','DIVISION','STATE','SEX','ESTBASE2020_CIV']
population_states_second=population_states_second.drop(columns=remove_population2)
population_states_second

          NAME  AGE  POPEST2020_CIV  POPEST2021_CIV  POPEST2022_CIV
261    Alabama    0           56285           56687           57882
262    Alabama    1           57207           56760           57185
263    Alabama    2           58871           57612           57342
264    Alabama    3           59394           59310           58047
265    Alabama    4           60567           59870           59843
...        ...  ...             ...             ...             ...
13393  Wyoming   82            2152            2194            2232
13394  Wyoming   83            1909            1965            1997
13395  Wyoming   84            1768            1817            1843
13396  Wyoming   85           10530           10500           10405
13397  Wyoming  999          574713          576607          578583

[4437 rows x 5 columns]

In [ ]:
# Remove total population
population_states_second.drop(population_states_second[population_states_second['AGE'] == 999].index, inplace=True)
population_states_second
unique_states=population_states_second['NAME'].unique()
unique_states

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [ ]:
# Process the table to match the first population table.
# 1) Sum duplicate age values and combine rows

df_combined = population_states_second.groupby(['NAME', 'AGE']).sum().reset_index()
df_combined

         NAME  AGE  POPEST2020_CIV  POPEST2021_CIV  POPEST2022_CIV
0     Alabama    0           56285           56687           57882
1     Alabama    1           57207           56760           57185
2     Alabama    2           58871           57612           57342
3     Alabama    3           59394           59310           58047
4     Alabama    4           60567           59870           59843
...       ...  ...             ...             ...             ...
4381  Wyoming   81            2336            2383            2450
4382  Wyoming   82            2152            2194            2232
4383  Wyoming   83            1909            1965            1997
4384  Wyoming   84            1768            1817            1843
4385  Wyoming   85           10530           10500           10405

[4386 rows x 5 columns]

In [ ]:
# 2) Classify age into groups as in first population table
age_groups = {
    'Population 0-4': range(0, 5),
    'Population 5-17': range(5, 18),
    'Population 18-24': range(18, 25),
    'Population 25-44': range(25, 45),
    'Population 45-64': range(45, 65),
    'Population 65+': range(65, 86)
}
def assign_age_group(age):
  for group, age_range in age_groups.items():
    if age in age_range:
      return group

df_combined['Age_Group']=df_combined['AGE'].apply(assign_age_group)

df_age_grouped=df_combined.groupby(['NAME','Age_Group']).sum().reset_index()
#df_age_grouped
remove_population3=['AGE']
df_age_grouped=df_age_grouped.drop(columns=remove_population3)
df_age_grouped

        NAME         Age_Group  POPEST2020_CIV  POPEST2021_CIV  POPEST2022_CIV
0    Alabama    Population 0-4          292324          290239          290299
1    Alabama  Population 18-24          479222          486520          489154
2    Alabama  Population 25-44         1258001         1264761         1272908
3    Alabama  Population 45-64         1295582         1283744         1275455
4    Alabama   Population 5-17          818853          819770          821229
..       ...               ...             ...             ...             ...
301  Wyoming  Population 18-24           52300           53000           53136
302  Wyoming  Population 25-44          148095          148559          149104
303  Wyoming  Population 45-64          140743          139202          138170
304  Wyoming   Population 5-17           99562           99364           98774
305  Wyoming    Population 65+          100937          104506          108059

[306 rows x 5 columns]

In [ ]:
# 3) Pivot to arrange year into rows

df_melted = df_age_grouped.melt(id_vars=['NAME', 'Age_Group'], var_name='Year', value_name='Population')
df_pivoted = df_melted.pivot_table(index=['NAME', 'Year'], columns='Age_Group', values='Population').reset_index()
df_pivoted.columns.name = None
df_pivoted = df_pivoted[['NAME', 'Year', 'Population 0-4', 'Population 5-17', 'Population 18-24', 'Population 25-44', 'Population 45-64', 'Population 65+']]
df_pivoted

,NAME,Year,Population 0-4,Population 5-17,Population 18-24,Population 25-44,Population 45-64,Population 65+
0,Alabama,POPEST2020_CIV,292324,818853,479222,1258001,1295582,875572
1,Alabama,POPEST2021_CIV,290239,819770,486520,1264761,1283744,892685
2,Alabama,POPEST2022_CIV,290299,821229,489154,1272908,1275455,914733
3,Alaska,POPEST2020_CIV,48979,130094,60059,202098,176330,94020
4,Alaska,POPEST2021_CIV,47911,129827,59869,203190,172891,98198
...,...,...,...,...,...,...,...,...
148,Wisconsin,POPEST2021_CIV,316521,942336,555409,1471279,1523151,1069696
149,Wisconsin,POPEST2022_CIV,312622,932995,565128,1475967,1502191,1102119
150,Wyoming,POPEST2020_CIV,33076,99562,52300,148095,140743,100937
151,Wyoming,POPEST2021_CIV,31976,99364,53000,148559,139202,104506
152,Wyoming,POPEST2022_CIV,31340,98774,53136,149104,138170,108059

In [ ]:
# Join first and second frames to create one population table.
print(population_states.head())
print(df_pivoted.head())

   Description  Year  Population 0-4  Population 5-17  Population 18-24  \
30     Alabama  2010        304257.0         826176.0          479755.0
31     Alabama  2011        302829.0         820998.0          481645.0
32     Alabama  2012        299235.0         817467.0          485324.0
33     Alabama  2013        294695.0         815213.0          486637.0
34     Alabama  2014        293559.0         812185.0          480552.0

    Population 25-44  Population 45-64  Population 65+
30         1228719.0         1285686.0        660844.0
31         1225177.0         1296403.0        672017.0
32         1225301.0         1290257.0        698004.0
33         1226950.0         1286997.0        719589.0
34         1228634.0         1285053.0        741816.0
      NAME            Year  Population 0-4  Population 5-17  Population 18-24  \
0  Alabama  POPEST2020_CIV          292324           818853            479222
1  Alabama  POPEST2021_CIV          290239           819770            486520
2  Alabama  POPEST2022_CIV          290299           821229            489154
3   Alaska  POPEST2020_CIV           48979           130094             60059
4   Alaska  POPEST2021_CIV           47911           129827             59869

   Population 25-44  Population 45-64  Population 65+
0           1258001           1295582          875572
1           1264761           1283744          892685
2           1272908           1275455          914733
3            202098            176330           94020
4            203190            172891           98198

In [ ]:
# Change column, value names to match with each other.
population_states.rename(columns={'Description': 'state',
                                 'Year': 'season',
                                  'Population 0-4': 'age0_4',
                                  'Population 5-17': 'age5_17',
                                  'Population 18-24': 'age18_24',
                                  'Population 25-44': 'age25_44',
                                  'Population 45-64': 'age45_64',
                                  'Population 65+': 'age65over'
                                  }, inplace=True)
df_pivoted.rename(columns={'NAME': 'state', 'Year': 'season',
                                  'Population 0-4': 'age0_4',
                                  'Population 5-17': 'age5_17',
                                  'Population 18-24': 'age18_24',
                                  'Population 25-44': 'age25_44',
                                  'Population 45-64': 'age45_64',
                                  'Population 65+': 'age65over'
                                  }, inplace=True)
df_pivoted

,state,season,age0_4,age5_17,age18_24,age25_44,age45_64,age65over
0,Alabama,POPEST2020_CIV,292324,818853,479222,1258001,1295582,875572
1,Alabama,POPEST2021_CIV,290239,819770,486520,1264761,1283744,892685
2,Alabama,POPEST2022_CIV,290299,821229,489154,1272908,1275455,914733
3,Alaska,POPEST2020_CIV,48979,130094,60059,202098,176330,94020
4,Alaska,POPEST2021_CIV,47911,129827,59869,203190,172891,98198
...,...,...,...,...,...,...,...,...
148,Wisconsin,POPEST2021_CIV,316521,942336,555409,1471279,1523151,1069696
149,Wisconsin,POPEST2022_CIV,312622,932995,565128,1475967,1502191,1102119
150,Wyoming,POPEST2020_CIV,33076,99562,52300,148095,140743,100937
151,Wyoming,POPEST2021_CIV,31976,99364,53000,148559,139202,104506
152,Wyoming,POPEST2022_CIV,31340,98774,53136,149104,138170,108059

In [ ]:

df_pivoted['season'] = df_pivoted['season'].replace({'POPEST2020_CIV': 2020,
                                                 'POPEST2021_CIV': 2021,
                                                 'POPEST2022_CIV': 2022})
df_pivoted

,state,season,age0_4,age5_17,age18_24,age25_44,age45_64,age65over
0,Alabama,2020,292324,818853,479222,1258001,1295582,875572
1,Alabama,2021,290239,819770,486520,1264761,1283744,892685
2,Alabama,2022,290299,821229,489154,1272908,1275455,914733
3,Alaska,2020,48979,130094,60059,202098,176330,94020
4,Alaska,2021,47911,129827,59869,203190,172891,98198
...,...,...,...,...,...,...,...,...
148,Wisconsin,2021,316521,942336,555409,1471279,1523151,1069696
149,Wisconsin,2022,312622,932995,565128,1475967,1502191,1102119
150,Wyoming,2020,33076,99562,52300,148095,140743,100937
151,Wyoming,2021,31976,99364,53000,148559,139202,104506
152,Wyoming,2022,31340,98774,53136,149104,138170,108059

In [ ]:
population = pd.concat([population_states, df_pivoted], ignore_index=True)
population

,state,season,age0_4,age5_17,age18_24,age25_44,age45_64,age65over
0,Alabama,2010,304257.0,826176.0,479755.0,1228719.0,1285686.0,660844.0
1,Alabama,2011,302829.0,820998.0,481645.0,1225177.0,1296403.0,672017.0
2,Alabama,2012,299235.0,817467.0,485324.0,1225301.0,1290257.0,698004.0
3,Alabama,2013,294695.0,815213.0,486637.0,1226950.0,1286997.0,719589.0
4,Alabama,2014,293559.0,812185.0,480552.0,1228634.0,1285053.0,741816.0
...,...,...,...,...,...,...,...,...
658,Wisconsin,2021,316521.0,942336.0,555409.0,1471279.0,1523151.0,1069696.0
659,Wisconsin,2022,312622.0,932995.0,565128.0,1475967.0,1502191.0,1102119.0
660,Wyoming,2020,33076.0,99562.0,52300.0,148095.0,140743.0,100937.0
661,Wyoming,2021,31976.0,99364.0,53000.0,148559.0,139202.0,104506.0
662,Wyoming,2022,31340.0,98774.0,53136.0,149104.0,138170.0,108059.0

In [ ]:
# Reorder to show by state
population = population.sort_values(by='state')
population.reset_index(drop=True, inplace=True)
population['season'] = population['season'].astype(int)
population

,state,season,age0_4,age5_17,age18_24,age25_44,age45_64,age65over
0,Alabama,2010,304257.0,826176.0,479755.0,1228719.0,1285686.0,660844.0
1,Alabama,2022,290299.0,821229.0,489154.0,1272908.0,1275455.0,914733.0
2,Alabama,2021,290239.0,819770.0,486520.0,1264761.0,1283744.0,892685.0
3,Alabama,2019,294357.0,793949.0,450224.0,1240535.0,1274283.0,849837.0
4,Alabama,2018,295295.0,796559.0,452369.0,1235156.0,1281850.0,826452.0
...,...,...,...,...,...,...,...,...
658,Wyoming,2013,38760.0,98912.0,58643.0,150776.0,156182.0,78849.0
659,Wyoming,2012,38980.0,97406.0,57761.0,149161.0,157207.0,75790.0
660,Wyoming,2011,39577.0,95792.0,56272.0,145993.0,157413.0,72252.0
661,Wyoming,2019,34931.0,98803.0,52521.0,150718.0,142607.0,99179.0
662,Wyoming,2022,31340.0,98774.0,53136.0,149104.0,138170.0,108059.0

In [ ]:
# Import data of number of newborns
birth_2010=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/Natality, 2010.txt",
                       delimiter='\t',
                       #skiprows=1,
                       nrows=51)
birth_2010 # .columns

    Notes                 State  State Code  Births
0     NaN               Alabama           1   60050
1     NaN                Alaska           2   11471
2     NaN               Arizona           4   87477
3     NaN              Arkansas           5   38540
4     NaN            California           6  510198
5     NaN              Colorado           8   66355
6     NaN           Connecticut           9   37708
7     NaN              Delaware          10   11364
8     NaN  District of Columbia          11    9165
9     NaN               Florida          12  214590
10    NaN               Georgia          13  133947
11    NaN                Hawaii          15   18988
12    NaN                 Idaho          16   23198
13    NaN              Illinois          17  165200
14    NaN               Indiana          18   83940
15    NaN                  Iowa          19   38719
16    NaN                Kansas          20   40649
17    NaN              Kentucky          21   55784
18    NaN             Louisiana          22   62379
19    NaN                 Maine          23   12970
20    NaN              Maryland          24   73801
21    NaN         Massachusetts          25   72865
22    NaN              Michigan          26  114531
23    NaN             Minnesota          27   68610
24    NaN           Mississippi          28   40036
25    NaN              Missouri          29   76759
26    NaN               Montana          30   12060
27    NaN              Nebraska          31   25918
28    NaN                Nevada          32   35934
29    NaN         New Hampshire          33   12874
30    NaN            New Jersey          34  106922
31    NaN            New Mexico          35   27850
32    NaN              New York          36  244375
33    NaN        North Carolina          37  122350
34    NaN          North Dakota          38    9104
35    NaN                  Ohio          39  139128
36    NaN              Oklahoma          40   53238
37    NaN                Oregon          41   45540
38    NaN          Pennsylvania          42  143321
39    NaN          Rhode Island          44   11177
40    NaN        South Carolina          45   58342
41    NaN          South Dakota          46   11811
42    NaN             Tennessee          47   79495
43    NaN                 Texas          48  386118
44    NaN                  Utah          49   52258
45    NaN               Vermont          50    6223
46    NaN              Virginia          51  103002
47    NaN            Washington          53   86539
48    NaN         West Virginia          54   20470
49    NaN             Wisconsin          55   68487
50    NaN               Wyoming          56    7556

In [ ]:
# Remove unnecessary columns

birth_2010.drop(['Notes', 'State Code'], axis=1, inplace=True)
birth_2010['season']='2010'

# Print the modified DataFrame
print(birth_2010)

                   State  Births season
0                Alabama   60050   2010
1                 Alaska   11471   2010
2                Arizona   87477   2010
3               Arkansas   38540   2010
4             California  510198   2010
5               Colorado   66355   2010
6            Connecticut   37708   2010
7               Delaware   11364   2010
8   District of Columbia    9165   2010
9                Florida  214590   2010
10               Georgia  133947   2010
11                Hawaii   18988   2010
12                 Idaho   23198   2010
13              Illinois  165200   2010
14               Indiana   83940   2010
15                  Iowa   38719   2010
16                Kansas   40649   2010
17              Kentucky   55784   2010
18             Louisiana   62379   2010
19                 Maine   12970   2010
20              Maryland   73801   2010
21         Massachusetts   72865   2010
22              Michigan  114531   2010
23             Minnesota   68610   2010
24           Mississippi   40036   2010
25              Missouri   76759   2010
26               Montana   12060   2010
27              Nebraska   25918   2010
28                Nevada   35934   2010
29         New Hampshire   12874   2010
30            New Jersey  106922   2010
31            New Mexico   27850   2010
32              New York  244375   2010
33        North Carolina  122350   2010
34          North Dakota    9104   2010
35                  Ohio  139128   2010
36              Oklahoma   53238   2010
37                Oregon   45540   2010
38          Pennsylvania  143321   2010
39          Rhode Island   11177   2010
40        South Carolina   58342   2010
41          South Dakota   11811   2010
42             Tennessee   79495   2010
43                 Texas  386118   2010
44                  Utah   52258   2010
45               Vermont    6223   2010
46              Virginia  103002   2010
47            Washington   86539   2010
48         West Virginia   20470   2010
49             Wisconsin   68487   2010
50               Wyoming    7556   2010

In [ ]:
# Continue for other data from 2010 to 2021.
birth_2011=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/Natality, 2011.txt",
                       delimiter='\t',
                       #skiprows=1,
                       nrows=51)
birth_2011.drop(['Notes', 'State Code'], axis=1, inplace=True)
birth_2011['season']='2011'
birth_2012=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/Natality, 2012.txt",
                       delimiter='\t',
                       #skiprows=1,
                       nrows=51)
birth_2012.drop(['Notes', 'State Code'], axis=1, inplace=True)
birth_2012['season']='2012'
birth_2013=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/Natality, 2013.txt",
                       delimiter='\t',
                       #skiprows=1,
                       nrows=51)
birth_2013['season']='2013'
birth_2013.drop(['Notes', 'State Code'], axis=1, inplace=True)
birth_2014=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/Natality, 2014.txt",
                       delimiter='\t',
                       #skiprows=1,
                       nrows=51)
birth_2014.drop(['Notes', 'State Code'], axis=1, inplace=True)
birth_2014['season']='2014'
birth_2015=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/Natality, 2015.txt",
                       delimiter='\t',
                       #skiprows=1,
                       nrows=51)
birth_2015.drop(['Notes', 'State Code'], axis=1, inplace=True)
birth_2015['season']='2015'
birth_2016=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/Natality, 2016.txt",
                       delimiter='\t',
                       #skiprows=1,
                       nrows=51)
birth_2016.drop(['Notes', 'State Code'], axis=1, inplace=True)
birth_2016['season']='2016'
birth_2017=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/Natality, 2017.txt",
                       delimiter='\t',
                       #skiprows=1,
                       nrows=51)
birth_2017.drop(['Notes', 'State Code'], axis=1, inplace=True)
birth_2017['season']='2017'
birth_2018=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/Natality, 2018.txt",
                       delimiter='\t',
                       #skiprows=1,
                       nrows=51)
birth_2018.drop(['Notes', 'State Code'], axis=1, inplace=True)
birth_2018['season']='2018'
birth_2019=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/Natality, 2019.txt",
                       delimiter='\t',
                       #skiprows=1,
                       nrows=51)
birth_2019.drop(['Notes', 'State Code'], axis=1, inplace=True)
birth_2019['season']='2019'
birth_2020=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/Natality, 2020.txt",
                       delimiter='\t',
                       #skiprows=1,
                       nrows=51)
birth_2020.drop(['Notes', 'State Code'], axis=1, inplace=True)
birth_2020['season']='2020'
birth_2021=pd.read_csv("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/Natality, 2021.txt",
                       delimiter='\t',
                       #skiprows=1,
                       nrows=51)
birth_2021.drop(['Notes', 'State Code'], axis=1, inplace=True)
birth_2021['season']='2021'

In [ ]:
birth_2022=pd.read_excel("/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/births/2022_birthdata.xlsx")
birth_2022
birth_2022['season']='2022'
birth_2022['season'] = birth_2022['season'].astype(int)
birth_2022

                   State  Births  season
0                Alabama   58079    2022
1                 Alaska    9331    2022
2                Arizona   78517    2022
3               Arkansas   35380    2022
4             California  418523    2022
5               Colorado   62346    2022
6            Connecticut   35323    2022
7               Delaware   10786    2022
8   District of Columbia    8047    2022
9                Florida  224226    2022
10               Georgia  125827    2022
11                Hawaii   15225    2022
12                 Idaho   22382    2022
13              Illinois  128315    2022
14               Indiana   79598    2022
15                  Iowa   36482    2022
16                Kansas   34385    2022
17              Kentucky   52219    2022
18             Louisiana   56096    2022
19                 Maine   12079    2022
20              Maryland   68694    2022
21         Massachusetts   68613    2022
22              Michigan  102248    2022
23             Minnesota   63914    2022
24           Mississippi   34609    2022
25              Missouri   68977    2022
26               Montana   11154    2022
27              Nebraska   24316    2022
28                Nevada   33174    2022
29         New Hampshire   12062    2022
30            New Jersey  102883    2022
31            New Mexico   19501    2022
32              New York  207484    2022
33        North Carolina  121389    2022
34          North Dakota    9561    2022
35                  Ohio  128221    2022
36              Oklahoma   48301    2022
37                Oregon   39451    2022
38          Pennsylvania  130003    2022
39          Rhode Island   10241    2022
40        South Carolina   57775    2022
41          South Dakota   11188    2022
42             Tennessee   82262    2022
43                 Texas  389533    2022
44                  Utah   45761    2022
45               Vermont    5275    2022
46              Virginia   95405    2022
47            Washington   83207    2022
48         West Virginia   16905    2022
49             Wisconsin   59930    2022
50               Wyoming    6044    2022

In [ ]:
# Concatenate all births tables
birth=pd.concat([birth_2010, birth_2011,birth_2012,birth_2013,birth_2014,birth_2015,birth_2016,birth_2017,birth_2018,birth_2019,birth_2020,birth_2021,birth_2022])
birth.rename(columns={'State':'state'}, inplace=True)
birth['season'] = birth['season'].astype(int)
birth

            state  Births  season
0         Alabama   60050    2010
1          Alaska   11471    2010
2         Arizona   87477    2010
3        Arkansas   38540    2010
4      California  510198    2010
..            ...     ...     ...
46       Virginia   95405    2022
47     Washington   83207    2022
48  West Virginia   16905    2022
49      Wisconsin   59930    2022
50        Wyoming    6044    2022

[663 rows x 3 columns]

In [ ]:
# Merge population and birth tables

merged_population = pd.merge(population,birth, on=['state','season'], how='inner')
merged_population

,state,season,age0_4,age5_17,age18_24,age25_44,age45_64,age65over,Births
0,Alabama,2010,304257.0,826176.0,479755.0,1228719.0,1285686.0,660844.0,60050
1,Alabama,2022,290299.0,821229.0,489154.0,1272908.0,1275455.0,914733.0,58079
2,Alabama,2021,290239.0,819770.0,486520.0,1264761.0,1283744.0,892685.0,58054
3,Alabama,2019,294357.0,793949.0,450224.0,1240535.0,1274283.0,849837.0,58615
4,Alabama,2018,295295.0,796559.0,452369.0,1235156.0,1281850.0,826452.0,57761
...,...,...,...,...,...,...,...,...,...
658,Wyoming,2013,38760.0,98912.0,58643.0,150776.0,156182.0,78849.0,7644
659,Wyoming,2012,38980.0,97406.0,57761.0,149161.0,157207.0,75790.0,7572
660,Wyoming,2011,39577.0,95792.0,56272.0,145993.0,157413.0,72252.0,7399
661,Wyoming,2019,34931.0,98803.0,52521.0,150718.0,142607.0,99179.0,6565
662,Wyoming,2022,31340.0,98774.0,53136.0,149104.0,138170.0,108059.0,6044

In [ ]:
# Subtract Births value from age0_4 column value to remove newborns from the data (flu vaccine injection over 6 months)
merged_population['age0_4']=merged_population['age0_4']-merged_population['Births']
merged_population.drop(columns=['Births'], inplace=True)
merged_population

,state,season,age0_4,age5_17,age18_24,age25_44,age45_64,age65over
0,Alabama,2010,244207.0,826176.0,479755.0,1228719.0,1285686.0,660844.0
1,Alabama,2022,232220.0,821229.0,489154.0,1272908.0,1275455.0,914733.0
2,Alabama,2021,232185.0,819770.0,486520.0,1264761.0,1283744.0,892685.0
3,Alabama,2019,235742.0,793949.0,450224.0,1240535.0,1274283.0,849837.0
4,Alabama,2018,237534.0,796559.0,452369.0,1235156.0,1281850.0,826452.0
...,...,...,...,...,...,...,...,...
658,Wyoming,2013,31116.0,98912.0,58643.0,150776.0,156182.0,78849.0
659,Wyoming,2012,31408.0,97406.0,57761.0,149161.0,157207.0,75790.0
660,Wyoming,2011,32178.0,95792.0,56272.0,145993.0,157413.0,72252.0
661,Wyoming,2019,28366.0,98803.0,52521.0,150718.0,142607.0,99179.0
662,Wyoming,2022,25296.0,98774.0,53136.0,149104.0,138170.0,108059.0

In [ ]:
population=merged_population
population

,state,season,age0_4,age5_17,age18_24,age25_44,age45_64,age65over
0,Alabama,2010,244207.0,826176.0,479755.0,1228719.0,1285686.0,660844.0
1,Alabama,2022,232220.0,821229.0,489154.0,1272908.0,1275455.0,914733.0
2,Alabama,2021,232185.0,819770.0,486520.0,1264761.0,1283744.0,892685.0
3,Alabama,2019,235742.0,793949.0,450224.0,1240535.0,1274283.0,849837.0
4,Alabama,2018,237534.0,796559.0,452369.0,1235156.0,1281850.0,826452.0
...,...,...,...,...,...,...,...,...
658,Wyoming,2013,31116.0,98912.0,58643.0,150776.0,156182.0,78849.0
659,Wyoming,2012,31408.0,97406.0,57761.0,149161.0,157207.0,75790.0
660,Wyoming,2011,32178.0,95792.0,56272.0,145993.0,157413.0,72252.0
661,Wyoming,2019,28366.0,98803.0,52521.0,150718.0,142607.0,99179.0
662,Wyoming,2022,25296.0,98774.0,53136.0,149104.0,138170.0,108059.0

### **3) Mean Income by State**

In [ ]:
# Import datasets

income_2010=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2010.csv')
type(income_2010)

pandas.core.frame.DataFrame

In [ ]:
income_2010=income_2010.filter(like='Mean income (dollars)!!Estimate')
income_2010

,Alabama!!Mean income (dollars)!!Estimate,Alaska!!Mean income (dollars)!!Estimate,Arizona!!Mean income (dollars)!!Estimate,Arkansas!!Mean income (dollars)!!Estimate,California!!Mean income (dollars)!!Estimate,Colorado!!Mean income (dollars)!!Estimate,Connecticut!!Mean income (dollars)!!Estimate,Delaware!!Mean income (dollars)!!Estimate,District of Columbia!!Mean income (dollars)!!Estimate,Florida!!Mean income (dollars)!!Estimate,...,Tennessee!!Mean income (dollars)!!Estimate,Texas!!Mean income (dollars)!!Estimate,Utah!!Mean income (dollars)!!Estimate,Vermont!!Mean income (dollars)!!Estimate,Virginia!!Mean income (dollars)!!Estimate,Washington!!Mean income (dollars)!!Estimate,West Virginia!!Mean income (dollars)!!Estimate,Wisconsin!!Mean income (dollars)!!Estimate,Wyoming!!Mean income (dollars)!!Estimate,Puerto Rico!!Mean income (dollars)!!Estimate
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"57,655","82,091","67,436","53,253","83,483","75,264","94,306","74,703","91,778","66,323",...,"59,212","68,700","70,375","65,886","82,584","74,331","51,064","65,273","68,283","29,325"
2,"59,429","76,891","67,643","54,549","83,444","73,650","95,904","74,273","95,306","66,060",...,"60,750","68,791","68,590","64,178","82,308","74,201","54,470","65,482","66,451","34,778"
3,"13,017","8,002","16,931","12,242","21,055","17,036","19,321","13,397","20,922","21,582",...,"13,248","16,460","12,909","14,583","14,285","15,271","9,668","10,220","16,124","20,141"
4,"14,708","14,409","16,258","14,664","15,212","15,110","16,613","16,818","12,592","15,935",...,"14,983","14,723","16,186","15,413","15,385","15,978","15,099","16,149","15,571","10,342"
5,"7,380","7,740","8,658","7,288","9,235","8,395","8,504","8,463","7,421","8,182",...,"7,583","7,487","8,931","8,093","7,786","8,449","7,790","8,549","7,998","6,609"
6,"2,462","4,041","3,257","2,711","5,556","3,248","4,246","2,760","3,751","3,227",...,"2,489","3,006","3,249","3,816","2,804","3,663","2,818","3,361","3,153","2,178"
7,"19,484","27,187","22,890","17,331","24,894","25,272","23,259","23,157","34,755","22,868",...,"17,976","21,467","22,604","18,628","26,210","22,006","15,354","19,440","19,997","12,595"
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,"68,275","93,053","77,127","62,497","92,942","89,099","112,576","86,238","116,122","77,033",...,"69,725","78,037","78,490","78,467","95,703","86,528","60,821","77,985","80,366","32,302"
10,"35,693","45,866","47,737","35,789","48,696","50,959","53,849","50,640","38,033","52,383",...,"35,916","40,229","47,475","48,600","49,237","49,123","31,430","43,906","50,675","13,265"
11,"55,431","67,467","62,101","49,064","73,904","71,889","98,721","66,491","82,800","64,226",...,"56,530","62,013","67,329","58,454","74,887","70,399","50,477","59,539","60,762","29,340"
12,"91,556","112,898","101,937","82,185","124,215","108,687","136,959","110,859","197,398","99,742",...,"90,524","102,636","83,157","93,848","120,540","107,234","83,546","93,994","93,575","60,949"
13,"61,951","82,370","68,496","56,159","78,523","73,598","92,600","73,828","83,093","66,684",...,"64,105","65,594","77,895","65,165","80,946","76,737","61,298","66,816","71,945","43,004"
14,"109,243","134,205","114,662","100,281","127,953","121,310","148,432","130,024","204,244","112,457",...,"107,163","111,630","110,231","110,792","137,405","120,305","99,653","110,708","115,192","69,350"
15,"79,205","102,914","89,280","75,662","98,639","88,673","111,911","96,136","114,752","85,359",...,"81,014","80,675","101,246","84,057","100,809","96,081","81,468","91,001","93,120","54,856"
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"22,984","30,726","25,680","21,274","29,188","30,151","36,775","29,007","42,078","26,551",...,"23,722","24,870","23,139","27,478","32,145","29,733","21,232","26,624","27,860","10,355"
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,"26,327","36,626","28,141","23,360","33,617","32,337","40,710","32,274","68,834","29,471",...,"25,726","27,587","24,129","27,993","36,078","32,023","21,524","28,313","28,810","10,727"
20,"14,959","26,212","20,187","13,551","23,194","20,745","21,470","20,067","24,027","16,078",...,"16,020","18,418","14,356","15,483","21,301","21,294","15,389","14,069","19,500","10,264"
21,"17,763","16,851","12,425","17,516","21,416","19,608","22,611","18,141","42,198","20,924",...,"18,726","19,910","13,823","22,275","22,406","17,995","18,910","16,524","17,185","8,631"
22,"24,740","22,557","29,335","22,586","31,195","27,851","36,548","36,081","46,782","26,967",...,"26,867","28,253","22,847","17,089","33,626","29,320","34,827","22,119","28,805","11,178"
23,"17,876","14,689","20,042","8,094","22,395","22,488","22,979","15,943","56,108","20,855",...,"19,587","19,815","13,215","27,052","29,425","18,959","14,756","19,015","17,252","5,106"
24,"12,545","21,662","14,830","10,602","15,349","15,520","15,703","14,683","23,710","16,241",...,"12,617","13,782","13,759","21,550","19,416","13,833","15,849","13,906","18,922","8,857"
25,"13,424","16,116","12,882","11,912","17,086","15,367","16,352","14,585","32,303","14,865",...,"12,412","15,268","10,131","13,558","17,024","15,182","11,016","10,678","13,880","9,037"
26,"12,872","20,010","14,104","11,290","15,670","15,113","17,752","14,946","29,285","18,749",...,"13,494","14,169","13,218","20,391","20,949","14,668","18,275","13,670","17,276","10,277"
27,"26,751","37,254","32,800","23,853","42,052","35,472","42,520","33,445","73,632","32,371",...,"26,108","34,826","25,209","28,064","36,939","33,237","21,540","28,841","29,434","17,267"
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
30,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
31,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X),...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)

In [ ]:
# Remain only relevant row (household income)
income_2010=income_2010.iloc[1:2]
income_2010=income_2010.transpose()
income_2010.reset_index(inplace=True)
income_2010.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2010 = income_2010.drop(51)
income_2010['state']=us_states
income_2010['season']='2010'
income_2010

                   state  income season
0                Alabama  57,655   2010
1                 Alaska  82,091   2010
2                Arizona  67,436   2010
3               Arkansas  53,253   2010
4             California  83,483   2010
5               Colorado  75,264   2010
6            Connecticut  94,306   2010
7               Delaware  74,703   2010
8   District of Columbia  91,778   2010
9                Florida  66,323   2010
10               Georgia  66,620   2010
11                Hawaii  83,037   2010
12                 Idaho  59,460   2010
13              Illinois  75,140   2010
14               Indiana  61,285   2010
15                  Iowa  61,833   2010
16                Kansas  64,994   2010
17              Kentucky  56,009   2010
18             Louisiana  60,003   2010
19                 Maine  60,036   2010
20              Maryland  91,454   2010
21         Massachusetts  85,897   2010
22              Michigan  63,692   2010
23             Minnesota  73,561   2010
24           Mississippi  52,484   2010
25              Missouri  61,238   2010
26               Montana  56,886   2010
27              Nebraska  62,707   2010
28                Nevada  72,112   2010
29         New Hampshire  79,105   2010
30            New Jersey  93,475   2010
31            New Mexico  59,223   2010
32              New York  80,374   2010
33        North Carolina  61,781   2010
34          North Dakota  60,581   2010
35                  Ohio  62,205   2010
36              Oklahoma  58,099   2010
37                Oregon  64,554   2010
38          Pennsylvania  67,282   2010
39          Rhode Island  71,934   2010
40        South Carolina  58,941   2010
41          South Dakota  59,729   2010
42             Tennessee  59,212   2010
43                 Texas  68,700   2010
44                  Utah  70,375   2010
45               Vermont  65,886   2010
46              Virginia  82,584   2010
47            Washington  74,331   2010
48         West Virginia  51,064   2010
49             Wisconsin  65,273   2010
50               Wyoming  68,283   2010

In [ ]:
type(income_2010)

pandas.core.frame.DataFrame

In [ ]:
# Repeat for other year data
income_2011=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2011.csv')
income_2011=income_2011.filter(like='Mean income (dollars)!!Estimate')
income_2011=income_2011.iloc[1:2]
income_2011=income_2011.transpose()
income_2011.reset_index(inplace=True)
income_2011.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2011 = income_2011.iloc[0:51]
income_2011['state']=us_states
income_2011['season']='2011'
income_2011

income_2012=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2012.csv')
income_2012=income_2012.filter(like='Mean income (dollars)!!Estimate')
income_2012=income_2012.iloc[1:2]
income_2012=income_2012.transpose()
income_2012.reset_index(inplace=True)
income_2012.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2012 = income_2012.iloc[0:51]
income_2012['state']=us_states
income_2012['season']='2012'
income_2012

income_2013=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2013.csv')
income_2013=income_2013.filter(like='Mean income (dollars)!!Estimate')
income_2013=income_2013.iloc[1:2]
income_2013=income_2013.transpose()
income_2013.reset_index(inplace=True)
income_2013.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2013 = income_2013.iloc[0:51]
income_2013['state']=us_states
income_2013['season']='2013'
income_2013

income_2014=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2014.csv')
income_2014=income_2014.filter(like='Mean income (dollars)!!Estimate')
income_2014=income_2014.iloc[1:2]
income_2014=income_2014.transpose()
income_2014.reset_index(inplace=True)
income_2014.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2014 = income_2014.iloc[0:51]
income_2014['state']=us_states
income_2014['season']='2014'
income_2014

income_2015=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2015.csv')
income_2015=income_2015.filter(like='Mean income (dollars)!!Estimate')
income_2015=income_2015.iloc[1:2]
income_2015=income_2015.transpose()
income_2015.reset_index(inplace=True)
income_2015.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2015 = income_2015.iloc[0:51]
income_2015['state']=us_states
income_2015['season']='2015'
income_2015

income_2016=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2016.csv')
income_2016=income_2016.filter(like='Mean income (dollars)!!Estimate')
income_2016=income_2016.iloc[1:2]
income_2016=income_2016.transpose()
income_2016.reset_index(inplace=True)
income_2016.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2016 = income_2016.iloc[0:51]
income_2016['state']=us_states
income_2016['season']='2016'
income_2016

income_2017=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2017.csv')
income_2017=income_2017.filter(like='Mean income (dollars)!!Estimate')
income_2017=income_2017.iloc[1:2]
income_2017=income_2017.transpose()
income_2017.reset_index(inplace=True)
income_2017.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2017 = income_2017.iloc[0:51]
income_2017['state']=us_states
income_2017['season']='2017'
income_2017

income_2018=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2018.csv')
income_2018=income_2018.filter(like='Mean income (dollars)!!Estimate')
income_2018=income_2018.iloc[1:2]
income_2018=income_2018.transpose()
income_2018.reset_index(inplace=True)
income_2018.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2018 = income_2018.iloc[0:51]
income_2018['state']=us_states
income_2018['season']='2018'
income_2018

income_2019=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2019.csv')
income_2019=income_2019.filter(like='Mean income (dollars)!!Estimate')
income_2019=income_2019.iloc[1:2]
income_2019=income_2019.transpose()
income_2019.reset_index(inplace=True)
income_2019.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2019 = income_2019.iloc[0:51]
income_2019['state']=us_states
income_2019['season']='2019'
income_2019

income_2020=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2020.csv')
income_2020=income_2020.filter(like='Mean income (dollars)!!Estimate')
income_2020=income_2020.iloc[1:2]
income_2020=income_2020.transpose()
income_2020.reset_index(inplace=True)
income_2020.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2020 = income_2020.iloc[0:51]
income_2020['state']=us_states
income_2020['season']='2020'
income_2020

income_2021=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2021.csv')
income_2021=income_2021.filter(like='Mean income (dollars)!!Estimate')
income_2021=income_2021.iloc[1:2]
income_2021=income_2021.transpose()
income_2021.reset_index(inplace=True)
income_2021.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2021 = income_2021.iloc[0:51]
income_2021['state']=us_states
income_2021['season']='2021'
income_2021

income_2022=pd.read_csv('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/mean_income/Mean_income_2022.csv')
income_2022=income_2022.filter(like='Mean income (dollars)!!Estimate')
income_2022=income_2022.iloc[1:2]
income_2022=income_2022.transpose()
income_2022.reset_index(inplace=True)
income_2022.rename(columns={'index':'state', 1:'income'}, inplace=True)
income_2022 = income_2022.iloc[0:51]
income_2022['state']=us_states
income_2022['season']='2022'
income_2022

                   state   income season
0                Alabama   82,992   2022
1                 Alaska  110,602   2022
2                Arizona   98,569   2022
3               Arkansas   79,592   2022
4             California  130,718   2022
5               Colorado  117,508   2022
6            Connecticut  130,601   2022
7               Delaware  104,600   2022
8   District of Columbia  150,292   2022
9                Florida   96,992   2022
10               Georgia   99,345   2022
11                Hawaii  122,902   2022
12                 Idaho   92,780   2022
13              Illinois  108,873   2022
14               Indiana   88,805   2022
15                  Iowa   92,053   2022
16                Kansas   94,263   2022
17              Kentucky   83,093   2022
18             Louisiana   83,169   2022
19                 Maine   91,599   2022
20              Maryland  129,642   2022
21         Massachusetts  134,568   2022
22              Michigan   92,835   2022
23             Minnesota  111,341   2022
24           Mississippi   74,149   2022
25              Missouri   89,952   2022
26               Montana   90,142   2022
27              Nebraska   95,547   2022
28                Nevada   97,955   2022
29         New Hampshire  118,118   2022
30            New Jersey  135,170   2022
31            New Mexico   81,035   2022
32              New York  120,883   2022
33        North Carolina   92,878   2022
34          North Dakota   97,221   2022
35                  Ohio   90,958   2022
36              Oklahoma   84,402   2022
37                Oregon  103,330   2022
38          Pennsylvania  100,837   2022
39          Rhode Island  106,511   2022
40        South Carolina   88,488   2022
41          South Dakota   90,706   2022
42             Tennessee   89,267   2022
43                 Texas  102,197   2022
44                  Utah  111,416   2022
45               Vermont   97,810   2022
46              Virginia  120,553   2022
47            Washington  122,880   2022
48         West Virginia   75,575   2022
49             Wisconsin   94,995   2022
50               Wyoming   94,901   2022

In [ ]:
income=pd.concat([income_2010,
                  income_2011,
                  income_2012,
                  income_2013,
                  income_2014,
                  income_2015,
                  income_2016,
                  income_2017,
                  income_2018,
                  income_2019,
                  income_2020,
                  income_2021,
                  income_2022])
income['season'] = income['season'].astype(int)
income

            state   income  season
0         Alabama   57,655    2010
1          Alaska   82,091    2010
2         Arizona   67,436    2010
3        Arkansas   53,253    2010
4      California   83,483    2010
..            ...      ...     ...
46       Virginia  120,553    2022
47     Washington  122,880    2022
48  West Virginia   75,575    2022
49      Wisconsin   94,995    2022
50        Wyoming   94,901    2022

[663 rows x 3 columns]

In [ ]:
income=income.sort_values(by=['state','season'])
income.reset_index(drop=True, inplace=True)
income

       state  income  season
0    Alabama  57,655    2010
1    Alabama  59,015    2011
2    Alabama  59,273    2012
3    Alabama  59,631    2013
4    Alabama  60,205    2014
..       ...     ...     ...
658  Wyoming  79,257    2018
659  Wyoming  81,880    2019
660  Wyoming  83,583    2020
661  Wyoming  87,786    2021
662  Wyoming  94,901    2022

[663 rows x 3 columns]

### 4) **Influenza Burden by Year**
- Influenza burden refers to the overall impact of influenza on community, individuals. (morbidity, mortality, etc.)

In [ ]:
# Import influenza burdern data
burden=pd.read_excel('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/influenza_burden.xlsx')
burden

# No data available for 2009 and 2020 seasons (2009: H1N1, 2020: Covid): lowest values used

,Season,Symptomatic Illnesses Estimate,Medical Visits Estimate,Hospitalizations Estimate,Deaths Estimate
0,2009-2010,9300000,4300000,100000,4900
1,2010-2011,21000000,10000000,280000,36000
2,2011-2012,9300000,4300000,130000,12000
3,2012-2013,33000000,15000000,570000,42000
4,2013-2014,29000000,13000000,340000,37000
5,2014-2015,30000000,14000000,590000,51000
6,2015-2016,23000000,10000000,270000,22000
7,2016-2017,29000000,13000000,490000,38000
8,2017-2018,41000000,18000000,710000,51000
9,2018-2019,28000000,13000000,370000,27000
10,2019-2020,35000000,16000000,390000,25000
11,2020-2021,9300000,4300000,100000,4900
12,2021-2022*,9400000,4300000,100000,4900
13,2022-2023*,31000000,14000000,360000,21000

In [ ]:
# Change column names
burden.rename(columns={'Season': 'season', 'Symptomatic Illnesses Estimate': 'prev_year_flu_symp',
                       'Medical Visits Estimate': 'prev_year_flu_visit',
                       'Deaths Estimate': 'prev_year_flu_death'}, inplace=True)
burden

,season,prev_year_flu_symp,prev_year_flu_visit,Hospitalizations Estimate,prev_year_flu_death
0,2009-2010,9300000,4300000,100000,4900
1,2010-2011,21000000,10000000,280000,36000
2,2011-2012,9300000,4300000,130000,12000
3,2012-2013,33000000,15000000,570000,42000
4,2013-2014,29000000,13000000,340000,37000
5,2014-2015,30000000,14000000,590000,51000
6,2015-2016,23000000,10000000,270000,22000
7,2016-2017,29000000,13000000,490000,38000
8,2017-2018,41000000,18000000,710000,51000
9,2018-2019,28000000,13000000,370000,27000
10,2019-2020,35000000,16000000,390000,25000
11,2020-2021,9300000,4300000,100000,4900
12,2021-2022*,9400000,4300000,100000,4900
13,2022-2023*,31000000,14000000,360000,21000

In [ ]:
# change year values
burden['season']=[2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023]
burden

,season,prev_year_flu_symp,prev_year_flu_visit,Hospitalizations Estimate,prev_year_flu_death
0,2010,9300000,4300000,100000,4900
1,2011,21000000,10000000,280000,36000
2,2012,9300000,4300000,130000,12000
3,2013,33000000,15000000,570000,42000
4,2014,29000000,13000000,340000,37000
5,2015,30000000,14000000,590000,51000
6,2016,23000000,10000000,270000,22000
7,2017,29000000,13000000,490000,38000
8,2018,41000000,18000000,710000,51000
9,2019,28000000,13000000,370000,27000
10,2020,35000000,16000000,390000,25000
11,2021,9300000,4300000,100000,4900
12,2022,9400000,4300000,100000,4900
13,2023,31000000,14000000,360000,21000

In [ ]:
# Remove 2023 data
burden.drop(13, inplace=True)
burden

,season,prev_year_flu_symp,prev_year_flu_visit,Hospitalizations Estimate,prev_year_flu_death
0,2010,9300000,4300000,100000,4900
1,2011,21000000,10000000,280000,36000
2,2012,9300000,4300000,130000,12000
3,2013,33000000,15000000,570000,42000
4,2014,29000000,13000000,340000,37000
5,2015,30000000,14000000,590000,51000
6,2016,23000000,10000000,270000,22000
7,2017,29000000,13000000,490000,38000
8,2018,41000000,18000000,710000,51000
9,2019,28000000,13000000,370000,27000
10,2020,35000000,16000000,390000,25000
11,2021,9300000,4300000,100000,4900
12,2022,9400000,4300000,100000,4900

### 5) **Influenza Vaccine Effectiveness of Previous Year**
- 2020-2021 flu vaccine effectiveness was not estimated due to low influenza virus circulation during the 2020-2021 flu season.

In [ ]:
flu_ve=pd.read_excel('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/flue_ve.xlsx')
type(flu_ve)

pandas.core.frame.DataFrame

In [ ]:
flu_ve=flu_ve.iloc[5:18]
type(flu_ve)

pandas.core.frame.DataFrame

In [ ]:
flu_ve.rename(columns={'Influenza Seasonâ€ ': 'season', 'Adjusted Overall VE (%)': 've'})
flu_ve_dropped = flu_ve.drop(['Reference', 'Study Site(s)', 'No. of Patientsâ€¡', '95% CI'], axis=1, inplace=False)
type(flu_ve_dropped)
flu_ve_dropped

   Influenza Seasonâ€   Adjusted Overall VE (%)
5           2009-10*                     56.0
6           2010-11*                     60.0
7            2011-12                     47.0
8            2012-13                     49.0
9            2013-14                     52.0
10           2014-15                     19.0
11           2015-16                     48.0
12           2016-17                     40.0
13           2017-18                     38.0
14           2018-19                     29.0
15           2019-20                     39.0
16         2020-21**                      NaN
17           2021-22                     36.0

In [ ]:
flu_ve=flu_ve_dropped

In [ ]:
flu_ve.rename(columns={'Influenza Seasonâ€ ': 'season', 'Adjusted Overall VE (%)': 've'}, inplace=True)
flu_ve

       season    ve
5    2009-10*  56.0
6    2010-11*  60.0
7     2011-12  47.0
8     2012-13  49.0
9     2013-14  52.0
10    2014-15  19.0
11    2015-16  48.0
12    2016-17  40.0
13    2017-18  38.0
14    2018-19  29.0
15    2019-20  39.0
16  2020-21**   NaN
17    2021-22  36.0

In [ ]:
flu_ve['season']=['2010','2011','2012','2013','2014','2015','2016','2017','2018','2019','2020','2021','2022']
flu_ve['season'] = flu_ve['season'].astype(int)
flu_ve

    season    ve
5     2010  56.0
6     2011  60.0
7     2012  47.0
8     2013  49.0
9     2014  52.0
10    2015  19.0
11    2016  48.0
12    2017  40.0
13    2018  38.0
14    2019  29.0
15    2020  39.0
16    2021   NaN
17    2022  36.0

In [ ]:
# Substitute missing value with mean value (to be reconsidered)
flu_ve=flu_ve.fillna(flu_ve.mean())
flu_ve

    season     ve
5     2010  56.00
6     2011  60.00
7     2012  47.00
8     2013  49.00
9     2014  52.00
10    2015  19.00
11    2016  48.00
12    2017  40.00
13    2018  38.00
14    2019  29.00
15    2020  39.00
16    2021  42.75
17    2022  36.00

### 6) **Number of COVID cases**

In [ ]:
covid=pd.read_excel('/content/drive/MyDrive/HIDS_7006/Project/Project_Flu_Prediction/Data/Covid_Cases_use.xlsx')
covid

,_+A:D_id,covid_cases,end_date,state,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,row-5wys~ric3-ejxg,45802.0,2020-12-30T00:00:00.000,Alaska,NaN,NaN,NaN
1,row-q7jb-3a9g~cjrj,106561.0,2021-12-29T00:00:00.000,Alaska,NaN,NaN,NaN
2,row-xy6g~z6hk_9pjy,135760.0,2022-12-28T00:00:00.000,Alaska,NaN,NaN,`
3,row-3ubf.kwj4~wrrw,356820.0,2020-12-30T00:00:00.000,Alabama,NaN,NaN,NaN
4,row-qtgz~6utj-mtnj,523487.0,2021-12-29T00:00:00.000,Alabama,NaN,NaN,NaN
...,...,...,...,...,...,...,...
173,row-rzhn_5tey~h78m,241289.0,2021-12-29T00:00:00.000,West Virginia,NaN,NaN,NaN
174,row-s2ca-6yje~nv7i,298027.0,2022-12-28T00:00:00.000,West Virginia,NaN,NaN,NaN
175,row-2rzx-e2h4~9ief,43889.0,2020-12-30T00:00:00.000,Wyoming,NaN,NaN,NaN
176,row-7jgd-ieq5_gk6u,71326.0,2021-12-29T00:00:00.000,Wyoming,NaN,NaN,NaN
177,row-k6g7-ehut.fgqi,67547.0,2022-12-28T00:00:00.000,Wyoming,NaN,NaN,NaN

In [ ]:
covid=covid[['state','covid_cases','end_date']]
covid

             state  covid_cases                 end_date
0           Alaska      45802.0  2020-12-30T00:00:00.000
1           Alaska     106561.0  2021-12-29T00:00:00.000
2           Alaska     135760.0  2022-12-28T00:00:00.000
3          Alabama     356820.0  2020-12-30T00:00:00.000
4          Alabama     523487.0  2021-12-29T00:00:00.000
..             ...          ...                      ...
173  West Virginia     241289.0  2021-12-29T00:00:00.000
174  West Virginia     298027.0  2022-12-28T00:00:00.000
175        Wyoming      43889.0  2020-12-30T00:00:00.000
176        Wyoming      71326.0  2021-12-29T00:00:00.000
177        Wyoming      67547.0  2022-12-28T00:00:00.000

[178 rows x 3 columns]

In [ ]:
covid.loc[covid['end_date'] == '2020-12-30T00:00:00.000', 'end_date'] = '2020'
covid.loc[covid['end_date'] == '2021-12-29T00:00:00.000', 'end_date'] = '2021'
covid.loc[covid['end_date'] == '2022-12-28T00:00:00.000', 'end_date'] = '2022'
covid

             state  covid_cases end_date
0           Alaska      45802.0     2020
1           Alaska     106561.0     2021
2           Alaska     135760.0     2022
3          Alabama     356820.0     2020
4          Alabama     523487.0     2021
..             ...          ...      ...
173  West Virginia     241289.0     2021
174  West Virginia     298027.0     2022
175        Wyoming      43889.0     2020
176        Wyoming      71326.0     2021
177        Wyoming      67547.0     2022

[178 rows x 3 columns]

In [ ]:
covid.rename(columns={'end_date': 'season'}, inplace=True)
covid = covid.dropna(subset=['season'])
covid['season'] = covid['season'].astype(int)
covid

<ipython-input-169-64245df1dc90>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid.rename(columns={'end_date': 'season'}, inplace=True)
<ipython-input-169-64245df1dc90>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  covid['season'] = covid['season'].astype(int)

             state  covid_cases  season
0           Alaska      45802.0    2020
1           Alaska     106561.0    2021
2           Alaska     135760.0    2022
3          Alabama     356820.0    2020
4          Alabama     523487.0    2021
..             ...          ...     ...
173  West Virginia     241289.0    2021
174  West Virginia     298027.0    2022
175        Wyoming      43889.0    2020
176        Wyoming      71326.0    2021
177        Wyoming      67547.0    2022

[153 rows x 3 columns]

### **7) Combine all data into one dataframe**
table names:
- flu_coverage
- population
- income
- flu_ve
- covid

In [ ]:
print('flu_coverage')
print(flu_coverage.head())
print('population')
print(population.head())
print('income')
print(income.head())
print('flu_ve')
print(flu_ve.head())
print('covid')
print(covid.head())

flu_coverage
     state  season  coverage_estimate
0  Alabama    2010               42.4
1  Alabama    2011               41.6
2  Alabama    2012               45.7
3  Alabama    2013               48.3
4  Alabama    2014               45.8
population
     state  season    age0_4   age5_17  age18_24   age25_44   age45_64  \
0  Alabama    2010  244207.0  826176.0  479755.0  1228719.0  1285686.0
1  Alabama    2022  232220.0  821229.0  489154.0  1272908.0  1275455.0
2  Alabama    2021  232185.0  819770.0  486520.0  1264761.0  1283744.0
3  Alabama    2019  235742.0  793949.0  450224.0  1240535.0  1274283.0
4  Alabama    2018  237534.0  796559.0  452369.0  1235156.0  1281850.0

   age65over
0   660844.0
1   914733.0
2   892685.0
3   849837.0
4   826452.0
income
     state  income  season
0  Alabama  57,655    2010
1  Alabama  59,015    2011
2  Alabama  59,273    2012
3  Alabama  59,631    2013
4  Alabama  60,205    2014
flu_ve
   season    ve
5    2010  56.0
6    2011  60.0
7    2012  47.0
8    2013  49.0
9    2014  52.0
covid
     state  covid_cases  season
0   Alaska      45802.0    2020
1   Alaska     106561.0    2021
2   Alaska     135760.0    2022
3  Alabama     356820.0    2020
4  Alabama     523487.0    2021

In [ ]:
# Merge all tables into one

#population['season'] = population['season'].astype(int)
#income['season'] = income['season'].astype(int)
#flu_ve['season'] = flu_ve['season'].astype(int)
#covid = covid.dropna(subset=['season'])
#covid['season'] = covid['season'].astype(int)
# Now merge all tables into one
merged = flu_coverage.merge(population, on=['state', 'season'], how='left')
merged = merged.merge(income, on=['state', 'season'], how='left')
merged = merged.merge(flu_ve, on='season', how='left')
merged = merged.merge(covid, on=['state', 'season'], how='left')

# Display the merged DataFrame
merged

,state,season,coverage_estimate,age0_4,age5_17,age18_24,age25_44,age45_64,age65over,income,ve,covid_cases
0,Alabama,2010,42.4,244207.0,826176.0,479755.0,1228719.0,1285686.0,660844.0,"57,655",56.00,NaN
1,Alabama,2011,41.6,243475.0,820998.0,481645.0,1225177.0,1296403.0,672017.0,"59,015",60.00,NaN
2,Alabama,2012,45.7,240787.0,817467.0,485324.0,1225301.0,1290257.0,698004.0,"59,273",47.00,NaN
3,Alabama,2013,48.3,236528.0,815213.0,486637.0,1226950.0,1286997.0,719589.0,"59,631",49.00,NaN
4,Alabama,2014,45.8,234137.0,812185.0,480552.0,1228634.0,1285053.0,741816.0,"60,205",52.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
658,Wyoming,2018,40.6,29225.0,98752.0,52614.0,150456.0,144467.0,95525.0,"79,257",38.00,NaN
659,Wyoming,2019,47.3,28366.0,98803.0,52521.0,150718.0,142607.0,99179.0,"81,880",29.00,NaN
660,Wyoming,2020,42.6,26948.0,99562.0,52300.0,148095.0,140743.0,100937.0,"83,583",39.00,43889.0
661,Wyoming,2021,41.2,25739.0,99364.0,53000.0,148559.0,139202.0,104506.0,"87,786",42.75,71326.0
662,Wyoming,2022,40.3,25296.0,98774.0,53136.0,149104.0,138170.0,108059.0,"94,901",36.00,67547.0

In [ ]:
merged['covid_cases'] = merged['covid_cases'].fillna(0)
merged

,state,season,coverage_estimate,age0_4,age5_17,age18_24,age25_44,age45_64,age65over,income,ve,covid_cases
0,Alabama,2010,42.4,244207.0,826176.0,479755.0,1228719.0,1285686.0,660844.0,"57,655",56.00,0.0
1,Alabama,2011,41.6,243475.0,820998.0,481645.0,1225177.0,1296403.0,672017.0,"59,015",60.00,0.0
2,Alabama,2012,45.7,240787.0,817467.0,485324.0,1225301.0,1290257.0,698004.0,"59,273",47.00,0.0
3,Alabama,2013,48.3,236528.0,815213.0,486637.0,1226950.0,1286997.0,719589.0,"59,631",49.00,0.0
4,Alabama,2014,45.8,234137.0,812185.0,480552.0,1228634.0,1285053.0,741816.0,"60,205",52.00,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
658,Wyoming,2018,40.6,29225.0,98752.0,52614.0,150456.0,144467.0,95525.0,"79,257",38.00,0.0
659,Wyoming,2019,47.3,28366.0,98803.0,52521.0,150718.0,142607.0,99179.0,"81,880",29.00,0.0
660,Wyoming,2020,42.6,26948.0,99562.0,52300.0,148095.0,140743.0,100937.0,"83,583",39.00,43889.0
661,Wyoming,2021,41.2,25739.0,99364.0,53000.0,148559.0,139202.0,104506.0,"87,786",42.75,71326.0
662,Wyoming,2022,40.3,25296.0,98774.0,53136.0,149104.0,138170.0,108059.0,"94,901",36.00,67547.0

In [ ]:
merged = merged.merge(burden, on='season', how='left')
merged

,state,season,coverage_estimate,age0_4,age5_17,age18_24,age25_44,age45_64,age65over,income,ve,covid_cases,prev_year_flu_symp,prev_year_flu_visit,Hospitalizations Estimate,prev_year_flu_death
0,Alabama,2010,42.4,244207.0,826176.0,479755.0,1228719.0,1285686.0,660844.0,"57,655",56.00,0.0,9300000,4300000,100000,4900
1,Alabama,2011,41.6,243475.0,820998.0,481645.0,1225177.0,1296403.0,672017.0,"59,015",60.00,0.0,21000000,10000000,280000,36000
2,Alabama,2012,45.7,240787.0,817467.0,485324.0,1225301.0,1290257.0,698004.0,"59,273",47.00,0.0,9300000,4300000,130000,12000
3,Alabama,2013,48.3,236528.0,815213.0,486637.0,1226950.0,1286997.0,719589.0,"59,631",49.00,0.0,33000000,15000000,570000,42000
4,Alabama,2014,45.8,234137.0,812185.0,480552.0,1228634.0,1285053.0,741816.0,"60,205",52.00,0.0,29000000,13000000,340000,37000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,Wyoming,2018,40.6,29225.0,98752.0,52614.0,150456.0,144467.0,95525.0,"79,257",38.00,0.0,41000000,18000000,710000,51000
659,Wyoming,2019,47.3,28366.0,98803.0,52521.0,150718.0,142607.0,99179.0,"81,880",29.00,0.0,28000000,13000000,370000,27000
660,Wyoming,2020,42.6,26948.0,99562.0,52300.0,148095.0,140743.0,100937.0,"83,583",39.00,43889.0,35000000,16000000,390000,25000
661,Wyoming,2021,41.2,25739.0,99364.0,53000.0,148559.0,139202.0,104506.0,"87,786",42.75,71326.0,9300000,4300000,100000,4900
662,Wyoming,2022,40.3,25296.0,98774.0,53136.0,149104.0,138170.0,108059.0,"94,901",36.00,67547.0,9400000,4300000,100000,4900

# **II. Data Preprocessing**

### **1) Feature/Outcome Data Split**

In [ ]:
# Split into feature and outcome data


X_df=merged.drop(['coverage_estimate'], axis=1)
y_df=merged['covid_cases']

In [ ]:
# Check data structure, description.

print(X_df.info())
print(y_df.info())

# state, income --> object (income needs to be changed to numerical datatype)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 663 entries, 0 to 662
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      663 non-null    object
 1   season                     663 non-null    int64
 2   age0_4                     663 non-null    float64
 3   age5_17                    663 non-null    float64
 4   age18_24                   663 non-null    float64
 5   age25_44                   663 non-null    float64
 6   age45_64                   663 non-null    float64
 7   age65over                  663 non-null    float64
 8   income                     663 non-null    object
 9   ve                         663 non-null    float64
 10  covid_cases                663 non-null    float64
 11  prev_year_flu_symp         663 non-null    int64
 12  prev_year_flu_visit        663 non-null    int64
 13  Hospitalizations Estimate  663 non-null    int64
 14  prev_year_flu_death        663 non-null    int64
dtypes: float64(8), int64(5), object(2)
memory usage: 82.9+ KB
None
<class 'pandas.core.series.Series'>
Int64Index: 663 entries, 0 to 662
Series name: covid_cases
Non-Null Count  Dtype
--------------  -----
663 non-null    float64
dtypes: float64(1)
memory usage: 10.4 KB
None

In [ ]:
# Change income data into int.
X_df['income'] = X_df['income'].str.replace(',', '').astype(int)

print(X_df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 663 entries, 0 to 662
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   state                      663 non-null    object
 1   season                     663 non-null    int64
 2   age0_4                     663 non-null    float64
 3   age5_17                    663 non-null    float64
 4   age18_24                   663 non-null    float64
 5   age25_44                   663 non-null    float64
 6   age45_64                   663 non-null    float64
 7   age65over                  663 non-null    float64
 8   income                     663 non-null    int64
 9   ve                         663 non-null    float64
 10  covid_cases                663 non-null    float64
 11  prev_year_flu_symp         663 non-null    int64
 12  prev_year_flu_visit        663 non-null    int64
 13  Hospitalizations Estimate  663 non-null    int64
 14  prev_year_flu_death        663 non-null    int64
dtypes: float64(8), int64(6), object(1)
memory usage: 82.9+ KB
None

### **2) Feature Engineering**

In [ ]:
# Check missing values of X_df
missing_X=X_df.isna().sum()
missing_X
# No missing values

state                        0
season                       0
age0_4                       0
age5_17                      0
age18_24                     0
age25_44                     0
age45_64                     0
age65over                    0
income                       0
ve                           0
covid_cases                  0
prev_year_flu_symp           0
prev_year_flu_visit          0
Hospitalizations Estimate    0
prev_year_flu_death          0
dtype: int64

In [ ]:
# Check missing values of y_df
missing_y=y_df.isna().sum()
missing_y
# No missing values

0

In [ ]:
# Split into test train sets

from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test, y_train, y_test=train_test_split(X_df,y_df,test_size=0.2, random_state=42)

In [ ]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(530, 15)
(133, 15)
(530,)
(133,)

In [ ]:
# Separate columns
continuous=X_train.columns[1:]
categorical=X_train.columns[0]

X_train_continuous=X_train[continuous]
X_test_continuous=X_test[continuous]
X_train_categorical=X_train[categorical]
X_test_categorical=X_test[categorical]

In [ ]:
# Standardize continuous features
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
scaler.fit(X_train_continuous)
X_train_continuous=scaler.transform(X_train_continuous)
X_test_continuous=scaler.transform(X_test_continuous)

In [ ]:
X_train_continuous

array([[-0.2834015 , -0.75110801, -0.77360515, ...,  0.7185972 ,
         1.29957358,  1.49708491],
       [-1.07812528, -0.7231634 , -0.71562409, ..., -1.33699382,
        -1.05783743, -0.9252233 ],
       [-0.2834015 ,  0.33817417,  0.36341275, ...,  0.7185972 ,
         1.29957358,  1.49708491],
       ...,
       [ 1.04113814, -0.0348922 , -0.02490747, ...,  1.14243039,
         0.27461228, -0.11778723],
       [-0.01849357,  0.5223885 ,  0.55904804, ..., -0.1290692 ,
        -0.34036451, -0.30411863],
       [ 1.30604606, -0.75440869, -0.75435086, ..., -1.33699382,
        -1.21158162, -1.36620761]])

In [ ]:
print(X_train_continuous.shape)
print(X_test_continuous.shape)

(530, 14)
(133, 14)

In [ ]:
# One-hot encoding of categorical features
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder(sparse=False, handle_unknown='ignore')

X_train_categorical = pd.DataFrame(X_train_categorical)
X_test_categorical = pd.DataFrame(X_test_categorical)
encoder.fit(X_train_categorical)
X_train_categorical=encoder.transform(X_train_categorical)
X_test_categorical=encoder.transform(X_test_categorical)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
X_train_categorical.shape

(530, 51)

In [ ]:
X_test_categorical.shape

(133, 51)

In [ ]:
# Combine both features

X_train_continuous_df = pd.DataFrame(X_train_continuous, columns=continuous)
categorical=us_states
#type(categorical)
X_train_categorical_df = pd.DataFrame(X_train_categorical, columns=categorical)

X_train = pd.concat([X_train_continuous_df, X_train_categorical_df], axis=1)

X_test_continuous_df = pd.DataFrame(X_test_continuous, columns=continuous)
X_test_categorical_df = pd.DataFrame(X_test_categorical, columns=categorical)
X_test = pd.concat([X_test_continuous_df, X_test_categorical_df], axis=1)

In [ ]:
X_train.shape

(530, 65)

In [ ]:
X_test.shape

(133, 65)

In [ ]:
X_train_continuous_df.shape

(530, 14)

In [ ]:
X_test_continuous_df.shape

(133, 14)

# **III. Model Training/Evaluation**

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.tree import DecisionTreeRegressor
from scipy.stats import pearsonr
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.linear_model import SGDRegressor
import statsmodels.api as sm
from sklearn.model_selection import GridSearchCV
import seaborn as sns

In [ ]:
def train_and_test(reg_model, X_train, y_train, X_test, y_test):
  reg_model.fit(X_train, y_train)
  # Make predictions with model
  y_pred = reg_model.predict(X_test)
  #Metrics
  mse_score_val = mean_squared_error(y_test, y_pred)
  r2_score_val = r2_score(y_test, y_pred)
  return {"MSE_Score": mse_score_val, "R2_Score": r2_score_val}

In [ ]:
lr_model = LinearRegression()
train_and_test(lr_model, X_train, y_train, X_test, y_test)

{'MSE_Score': 8.823949806349733e-19, 'R2_Score': 1.0}

In [ ]:
gbr_model = GradientBoostingRegressor()
train_and_test(gbr_model, X_train, y_train, X_test, y_test)

{'MSE_Score': 25353685706.35007, 'R2_Score': 0.8742568582410539}

In [ ]:
rfr_model = RandomForestRegressor()
train_and_test(rfr_model, X_train, y_train, X_test, y_test)

{'MSE_Score': 4953379415.182246, 'R2_Score': 0.9754334144075507}